@page
@model ConfirmEmailChangeModel
@{
    //ViewData["Title"] = "Confirm email change";
    ViewData["Title"] = "請確認更改電子郵件";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
