@section Styles
{
    @* datatables 本體 CSS *@
    <link rel="stylesheet"
          href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css"
          asp-append-version="true" />
    @* datatables Fixed Header 標頭固定 *@
    <link rel="stylesheet"
          href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.min.css"
          asp-append-version="true" />
    @* datatables Row Group 群組 *@
    <link rel="stylesheet"
          href="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css"
          asp-append-version="true" />
    @* datatables Buttons 按鈕 *@
    <link rel="stylesheet"
          href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.min.css"
          asp-append-version="true" />
    @* datatables responsive 響應式 *@
    <link rel="stylesheet"
          href="https://cdn.datatables.net/responsive/3.0.1/css/responsive.dataTables.css"
          asp-append-version="true" />
    @* font-awesome 樣式 *@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          asp-append-version="true"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    @* 側邊導覽 自訂樣式 *@
    <style>
        .sidebar-link {
            background-color: #F8F8F9;
            border-bottom: 1px solid;
            border-color: #9daec6;
        }

        .sidebar-active {
            background-color: black;
            border: 1px solid;
            border-color:white;
            color: white !important;
        }
    </style>
}

@* container *@
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 mt-3 mt-md-0">
            @* Sidebar 側邊導覽列 *@
            @* Sidebar start *@
            <!-- Sidebar  -->
            <nav class="nav flex-column h-100 text-center sidebar" style="background-color: transparent">
                <a class="nav-link sidebar-link" href="" id="MemberManage">會員管理</a>
                <a class="nav-link sidebar-link" href="" id="GameManage">遊戲管理</a>
                <a class="nav-link sidebar-link" href="" id="HardWareManage">硬體管理</a>
                <a class="nav-link sidebar-link" href="" id="AdManage">廣告管理</a>
            </nav>
            @* Sidebar end *@
        </div>
        <div class="col-sm-12 col-md-10 mt-3 mt-md-0">
            <div class="h-100" id="System">
                <img src="~/img/loading-white.gif" class="position-absolute top-50 start-50 translate-middle" style="display:none" id="systemLoading"/>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @* datatables 本體 JS *@
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"
            asp-append-version="true"></script>
    @* datatables Fixed Header 標頭固定 *@
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js"
            asp-append-version="true"></script>
    @* datatables Row Group 群組 *@
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"
            asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"
            asp-append-version="true"></script>
    @* datatables Buttons 按鈕 *@
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.min.js"
            asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"
            asp-append-version="true"></script>
    @* datatables responsive 響應式 *@
    <script src="https://cdn.datatables.net/responsive/3.0.1/js/dataTables.responsive.js"
            asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.1/js/responsive.dataTables.js"
            asp-append-version="true"></script>
    @* font-awesome JS *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"
            asp-append-version="true"
            integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    @* 側邊導覽 AJAX 後台系統切換 *@
    <script>
        // AJAX 呼叫替換 PartialView
        $(document).ready(function () {
            var baseAddress = "https://localhost:7097"; // For Development
           
            $("#HardWareManage").on("click", function (event) {
                event.preventDefault();
                $("#systemLoading").show();
                // 發送非同步GET請求
                fetch(`${baseAddress}@Url.Action("HardwareManagement", "Admin")`, {
                    method: "GET"
                }).then(response => {
                    // 確保請求是否成功
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // 解析 html
                    return response.text();
                }).then(data => {
                    $("#systemLoading").hide();
                    $("#System").html(data);
                }).catch(error => {
                    $("#systemLoading").hide();
                    // 顯示 throw 的錯誤
                    alert(error);
                });
            });

            $("#GameManage").on("click", function (event) {
                event.preventDefault();
                $("#systemLoading").show();
                // 發送非同步GET請求
                fetch(`${baseAddress}@Url.Action("GetIndexPartialView", "Games")`, {
                    method: "GET"
                }).then(response => {
                    // 確保請求是否成功
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // 解析 html
                    return response.text();
                }).then(data => {
                    $("#systemLoading").hide();
                    $("#System").html(data);
                }).catch(error => {
                    $("#systemLoading").hide();
                    // 顯示 throw 的錯誤
                    alert(error);
                });
            });

            

            $("#MemberManage").on("click", function (event) {
                event.preventDefault();
            });

            //呼叫廣告管理的index
            $("#AdManage").on("click", function (event) {
                event.preventDefault();
                $("#systemLoading").show();
                // 發送非同步GET請求
                fetch(`${baseAddress}@Url.Action("AdManagementIndex", "Admin")`, {
                    method: "GET"
                }).then(response => {
                    // 確保請求是否成功
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // 解析 html
                    return response.text();
                }).then(data => {
                    $("#systemLoading").hide();
                    $("#System").html(data);
                }).catch(error => {
                    $("#systemLoading").hide();
                    // 顯示 throw 的錯誤
                    alert(error);
                });
            });

            $('.sidebar-link').on('click', function () {
                $(this).toggleClass('sidebar-active');
                // 將其他兄弟元素的 'active' 類移除
                $(this).siblings().removeClass('sidebar-active');
            });


        }) 
    </script>
}
